<settings>
  <GenerateMips>true</GenerateMips>
  <AntiAlias>true</AntiAlias>
  <AntiAliasLevel>4</AntiAliasLevel>
  <Windowed>true</Windowed>
  <TextureFiltering>true</TextureFiltering>
  <VerticalSync>true</VerticalSync>
  <VertexLighting>true</VertexLighting>
  <VisData>false</VisData>
  <Sky>true</Sky>
  <BotsPath>false</BotsPath>
  <Models>false</Models>
  <StereoPair>false</StereoPair>
  <StereoPairSeparation>-260</StereoPairSeparation>
  <FieldOfView>80</FieldOfView>
  <ShowCamPos>false</ShowCamPos>
  <WindowScale>75</WindowScale>
</settings>